#navigation-container {

  font-family: "Moon Flower Bold";

  a {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;

    #logo-flor-fraterna {
      height: 65px;
      margin-right: 0.3em;
    }

  }

}